.container-pr{
    height: 100vh;
}
.container{
    background:  rgba(246, 243, 243, 0.638);
    height: 100vh;
    margin-top: 1.5rem;
}
.container .form {
    width: 58%;
    margin: auto;
}

p {
    color: rgba(224, 221, 221, 0.638);
    font-size: 5rem;
    text-align: center;
    font-family: "Nixie One", system-ui;
    font-weight: 200;
    font-style: normal;

}

.form ol {
    padding: 0;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.1);
}


.form-control {
    border-radius: 0;
    border-bottom: none;
    border-right: none;
    border-left: none;
    padding: 0.7rem;
    color: rgba(149, 146, 146, 0.982);
    font-size: 2rem;
    font-weight: 150;
}

span {
    margin-left: 3rem;
}

.input-form {
    display: flex;
}

input {
    margin-left: 3rem;
    width: 100%;
    border: none;
}

input:focus {
    outline: none;
    transition: 0.1s;
    color: rgba(149, 146, 146, 0.982);
    background:rgba(241, 240, 240, 0.332);
    border-radius: 1rem;
    font-size: 2rem;
    font-weight: 150;
}




input::placeholder {
    font-weight: 150;
    color: rgba(149, 146, 146, 0.982);

}

.delete-button {
    background: white;
    width: 0;
    margin-right: 10px;
    margin-left: -10px;
    text-align: center;
    display: inline-block;
    opacity: 0;
    transition: 0.3s linear;
    border: none;
    color: rgba(149, 146, 146, 0.982);
    font-size: 1.8rem;
    font-weight: 150;
}

li:hover .delete-button {
    opacity: 2;
    width: 40px;
}

li:last-child {
    color: rgba(149, 146, 146, 0.982);
    font-size: 1rem;
    font-weight: 100;
}